<%= stylesheet_link_tag 'formtastic', 'formtastic_changes' %>

<table class="admin-report" width="545">
  <tr>
    <td valign="top"><%=t("snippets_slug")%>:</td>
    <td><%= f.text_field :slug, {"style" => "width: 745px"} %></td>
  </tr>
  <tr>
		<td colspan="2">
      <%= f.text_area :content, {"style" => "width:100%"} %>
		</td>
  </tr>
</table>

<div class="snippet-form snippet-form-bottom-buttons">
	<button type="button" id="snippet_content_toggleEditor">
		<%= t("editor.toggle_editor") %>
	</button>
</div>
<%#= f.inputs do %>
  <%#= f.input :slug %>
  <%#= f.input :content, :as => :text %>
<%# end %>
