<style type="text/css" media="screen">
	.snippet-form-bottom-buttons {
		margin-left: 5px;
		margin-bottom: 20px;
	}
</style>

<table class="admin-report" width="545">
  <tr>
    <td valign="top"><%=t("snippets_slug")%>:</td>
    <td><%= f.text_field :slug, {"style" => "width: 745px"} %></td>
  </tr>
  <tr>
		<td colspan="2">
      <%= f.text_area :content, {"style" => "width:100%"} %>
		</td>
  </tr>
</table>

<div class="snippet-form snippet-form-bottom-buttons">
	<button type="button" id="toggleEditor">
		<%= t("editor.toggle_editor") %>
	</div>
</div>

<%= javascript_tag do -%>
  (function() {        
    
    var Dom = YAHOO.util.Dom,        
      Event = YAHOO.util.Event;          
        
        var _button = new YAHOO.widget.Button('toggleEditor');        
          _button.addClass('toggleEditor');              
            
            var state = 'on';     
              
              var myEditor = window['snippet_content_editor'];       
                myEditor.show();        
                  
                  _button.on('click', function(ev) {        
                      Event.stopEvent(ev);        
                          if (state == 'on') {       
                                state = 'off';        
                                      myEditor.saveHTML();       
                                            var stripHTML = /<\S[^><]*>/g;        
                                                  myEditor.get('textarea').value = myEditor.get('textarea').value.replace(/<br>/gi, '\n').replace(stripHTML, '');
                                                    
                                                        var fc = myEditor.get('element').previousSibling,        
                                                              el = myEditor.get('element');        
                                                                    Dom.setStyle(fc, 'position', 'absolute');        
                                                                          Dom.setStyle(fc, 'top', '-9999px');        
                                                                                Dom.setStyle(fc, 'left', '-9999px');        
                                                                                      myEditor.get('element_cont').removeClass('yui-editor-container');        
                                                                                            Dom.setStyle(el, 'visibility', 'visible');        
                                                                                                  Dom.setStyle(el, 'top', '');        
                                                                                                        Dom.setStyle(el, 'left', '');        
                                                                                                              Dom.setStyle(el, 'position', 'static');        
                                                                                                                  } else {       
                                                                                                                        state = 'on';        

                                                                                                                              var fc = myEditor.get('element').previousSibling,        
                                                                                                                                    el = myEditor.get('element');        
                                                                                                                                          Dom.setStyle(fc, 'position', 'static');        
                                                                                                                                                Dom.setStyle(fc, 'top', '0');        
                                                                                                                                                      Dom.setStyle(fc, 'left', '0');        
                                                                                                                                                            Dom.setStyle(el, 'visibility', 'hidden');        
                                                                                                                                                                  Dom.setStyle(el, 'top', '-9999px');        
                                                                                                                                                                        Dom.setStyle(el, 'left', '-9999px');        
                                                                                                                                                                              Dom.setStyle(el, 'position', 'absolute');        
                                                                                                                                                                                    myEditor.get('element_cont').addClass('yui-editor-container');        
                                                                                                                                                                                          YAHOO.log('Reset designMode on the Editor', 'info', 'example');        
                                                                                                                                                                                                myEditor._setDesignMode('on');        
                                                                                                                                                                                                      YAHOO.log('Inject the HTML from the textarea into the editor', 'info', 'example');        
                                                                                                                                                                                                            myEditor.setEditorHTML(myEditor.get('textarea').value.replace(/\n/g, '<br>'));        
                                                                                                                                                                                                                }        
                                                                                                                                                                                                                  });
                                                                                                                                                                                                                  })();
<% end -%>
